<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Contador
        </title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <h1>
            Contador
        </h1>
        <div class="variable">
            {{valor}}
        </div>
        <div class="contenedor">
            <form action="/two_visit" method="GET">
                <button type="submit" class="boton add">
                    Añadir dos visitas
                </button>
            </form>
            <form action="/destroy_session" method="GET">
                <button type="submit" class="boton reset">
                    Reset
                </button>
            </form>
        </div>
    </body>
</html>